@import url('style.css');

$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;
$color-light: #8695A4;
$color-white: #fff;
$color-black: #000;

$font-size-xxxl: rem(44px);
$font-size-xxl: rem(30px);
$font-size-xl: rem(26px);
$font-size-lg: rem(22px);
$font-size-md: rem(20px);
$font-size-sm: rem(18px);
$font-size-xs: rem(16px);
$font-size-xxs: rem(14px);


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$base: rem(4px);

// html {
//     @media (max-width: $screen-md) {
//         font-size: 14px;
//     }
//     @media (max-width: $screen-sm) {
//         font-size: 12px;
//     }
// }


.blog {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 $base*3 $base*12;

    &__title {
        margin-bottom: $base*13;
    }
    &__item {
        margin-bottom: $base*7;
        padding-bottom: $base*7;
        border-bottom: 1px solid #E0E0E0;

        &:last-child {
            margin-bottom: 0px;
        }

        &-title {
            margin-bottom: $base*4;
            font-weight: 500;
            line-height: $base*11;
        }
        &-info {
            display: flex;
            align-items: center;
            margin-bottom: $base*4;
            font-size: $font-size-md;
        }

        &-date {
            padding-right: $base*5;
            border-right: 1px solid $color-dark;
        }
        
        &-description {
            padding-left: $base*5;
            color: $color-light;
        }

        &-text {
            margin-bottom: $base*5;
            &:last-child {
                margin-bottom: 0px;
            }
        }

        &-links {
            
            a {
                color: $color-light;
                text-decoration: none;
                font-size: $font-size-xxs;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media (max-width: $screen-md) {
        
        &__title {
            font-size: $font-size-xxl;
        }

        &__item {
            padding-bottom: $base*6;
            margin-bottom: $base*6;

            &-title {
                margin-bottom: $base;
                font-size: $font-size-xl;
                line-height: $base*9;
            }

            &-info {
                font-size: $font-size-xs;
            }

            &-separator {
                margin: 0 $base*4;
                font-size: $font-size-sm;
            }
        }
    }
}

.gallery {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 $base*3 $base*13;

    &__title {
        color: $color-dark;
        font-weight: 700;
        margin-bottom: $base*13;
    }
    &__swiper {
        padding: $base*7 0 $base*12 0;
    }

    &__slide {
        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
            border-radius: $base*2;
        }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: $color-primary;
        font-size: $font-size-xxl;
    
    }
   
    .swiper-pagination {

        &-bullet {
            width: $base*2;
            height: $base*2;
            background-color: $color-primary;
        }
    }

    @media (max-width: $screen-sm) {

        .swiper-button-prev {display: none;}
        .swiper-button-next {display: none;}
    }  
}

.text-link {
    margin-left: $base;
    text-decoration: none;
    color: $color-light;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
