@import url('style.css');

$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;
$color-light: #8695A4;
$color-white: #fff;
$color-black: #000;

$font-size-xxxl: 44px;
$font-size-xxl: 30px;
$font-size-xl: 26px;
$font-size-lg: 22px;
$font-size-md: 20px;
$font-size-sm: 18px;
$font-size-xs: 16px;
$font-size-xxs: 14px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.blog {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px 50px;

    &__title {
        margin-bottom: 55px;
    }
    &__item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #E0E0E0;

        &:last-child {
            margin-bottom: 0px;
        }

        &-title {
            margin-bottom: 15px;
            font-weight: 500;
            line-height: 44px;
        }
        &-info {
            margin-bottom: 15px;
            font-size: $font-size-md;
        }

        &-separator {
            margin: 0 20px;
            font-size: $font-size-xl;
        }
        
        &-description {
            color: $color-light;
        }

        &-text {
            margin-bottom: 30px;
        }
    }

    @media (max-width: $screen-md) {
        
        &__title {
            font-size: $font-size-xxl;
        }

        &__item {
            padding-bottom: 24px;
            margin-bottom: 24px;

            &-title {
                margin-bottom: 5px;
                font-size: $font-size-xl;
                line-height: 38px;
            }

            &-info {
                font-size: $font-size-xs;
            }

            &-separator {
                margin: 0 15px;
                font-size: $font-size-sm;
            }
        }
    }
}

.text-link {
    margin-left: 5px;
    text-decoration: none;
    color: $color-light;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
