@import url('style.css');

$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;
$color-light: #8695A4;
$color-white: #fff;
$color-black: #000;

$font-size-xxxl: 44px;
$font-size-xxl: 30px;
$font-size-xl: 26px;
$font-size-lg: 22px;
$font-size-md: 20px;
$font-size-sm: 18px;
$font-size-xs: 16px;
$font-size-xxs: 14px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


.blog {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px 50px;

    &__title {
        margin-bottom: 55px;
    }
    &__item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #E0E0E0;

        &:last-child {
            margin-bottom: 0px;
        }

        &-title {
            margin-bottom: 15px;
            font-weight: 500;
            line-height: 44px;
        }
        &-info {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-size: $font-size-md;
        }

        &-date {
            padding-right: 20px;
            border-right: 1px solid $color-dark;
        }
        
        &-description {
            padding-left: 20px;
            color: $color-light;
        }

        &-text {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0px;
            }
        }

        &-links {
            
            a {
                color: $color-light;
                text-decoration: none;
                font-size: $font-size-xxs;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @media (max-width: $screen-md) {
        
        &__title {
            font-size: $font-size-xxl;
        }

        &__item {
            padding-bottom: 24px;
            margin-bottom: 24px;

            &-title {
                margin-bottom: 5px;
                font-size: $font-size-xl;
                line-height: 38px;
            }

            &-info {
                font-size: $font-size-xs;
            }

            &-separator {
                margin: 0 15px;
                font-size: $font-size-sm;
            }
        }
    }
}

.gallery {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 10px 52px;

    &__title {
        color: $color-dark;
        font-weight: 700;
        margin-bottom: 55px;
    }
    &__swiper {
        padding: 30px 0 50px 0;
    }

    &__slide {
        display: flex;
        justify-content: center;

        img {
            max-width: 100%;
            border-radius: 10px;
        }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: $color-primary;
        font-size: $font-size-xxl;
    
    }
   
    .swiper-pagination {

        &-bullet {
            width: 8px;
            height: 8px;
            background-color: $color-primary;
        }
    }

    @media (max-width: $screen-sm) {

        .swiper-button-prev {display: none;}
        .swiper-button-next {display: none;}
    }  
}

.text-link {
    margin-left: 5px;
    text-decoration: none;
    color: $color-light;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
