@import url('style.css');

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}

$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;
$color-light: #8695A4;
$color-white: #fff;
$color-black: #000;

$font-size-xxxl: rem(44px);
$font-size-xxl: rem(30px);
$font-size-xl: rem(26px);
$font-size-lg: rem(22px);
$font-size-md: rem(20px);
$font-size-sm: rem(18px);
$font-size-xs: rem(16px);
$font-size-xxs: rem(14px);


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$base: rem(4px);

// html {
//     @media (max-width: $screen-md) {
//         font-size: 14px;
//     }
//     @media (max-width: $screen-sm) {
//         font-size: 12px;
//     }
// }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 $base*3 $base*45;
    border-radius: $base*2;

    &__title {
        margin-bottom: $base*10;
    }

    &__subtitle {
        margin-bottom: $base*6;
        font-weight: 500;
    }

    &__body {
        display: flex;
        margin-bottom: $base*20;
        box-shadow: $base/2 $base*2 $base*7 rgba(133, 123, 139, 0.12);
        border-radius: $base*2;
        padding: $base*10 $base*10;

        
    }
    
    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        margin-right: $base*15;

        &::after {
            content: "";
            position: absolute ;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../img/loading.gif') center / 60px no-repeat;
            display: none;
        }


        &.sending::after {
            display: initial;
        }

        &-input {
            display: flex;
            flex-direction: column-reverse;

            label {
                transform: scale(0);
                transition: transform 0.5s;
            }
            
            input {
                padding: $base*4;
                border: 1px solid $color-light;
                border-radius: $base;
                color: $color-dark;
                font-size: $font-size-xs;
                outline: none;

                &::placeholder {
                    color: $color-light;
                }

                &:focus {
                    outline: none;
                    border-bottom-color: $color-primary;
                  }
                
                &:not([value=""]) + label {
                    transform: scale(1);
                    margin: $base*4 $base*4 $base;
                    font-size: $font-size-xs; 
                }
            }
        }
        &-message {
            display: flex;
            flex-direction: column-reverse;
            flex-grow: 1;
            margin-bottom: $base*5;

            &_label {
                
                transform: scale(0);
                transition: transform .5s;

                &--active {
                    transform: scale(1);
                    margin: $base*4 $base*4 $base;
                    font-size: $font-size-xs;
                }
            }

            textarea {
                flex-grow: 1;
                padding: $base*4;
                border: 1px solid $color-light;
                border-radius: $base;
                color: $color-dark;
                font-size: $font-size-xs;
                resize: vertical;
                outline: none;

                &::placeholder {
                    color: $color-light;
                }

                &:focus {
                    outline: none;
                    border-bottom-color: $color-primary;
                }
            }
        }
        &-btn {
            
            button {
                width: 100%;

                display: inline-flex;
                justify-content: center;
                padding: $base*4 0px;
                background-color: $color-primary;
                color: $color-white;
                font-size: $font-size-sm;
                font-weight: 500;
                border-radius: $base;
                border: none;
                text-decoration: none;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                background-color: #bd5151;
                 
                }
            }
        }
    }

    &__info {
        flex-basis: 50%;
        

        &-text {
            display: flex;
            align-items: center;
            margin-bottom: $base*7;
        }

        svg {
            width: $base*5;
            height: $base*5;
            fill: $color-dark;
        }

        &-link {
            margin-left: $base*5;
            color: $color-dark;
            font-size: $font-size-xs;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &-image {
            width: 100%;
            height: auto;
            border-radius: $base*3;
            box-shadow: $base/2 $base*2 $base*7 rgba(133, 123, 139, 0.12);
            
            

            &:hover {
                border: 1px solid $color-primary;
            }
        }
    }

    @media (max-width: $screen-md) {

        padding: 0 $base*2 $base*20;
        
        &__title {
            font-size: $font-size-xxl;
        }

        &__subtitle {
            font-size: $font-size-lg;
        }

        &__body {
            margin-bottom: $base*10;
        }
    }

    @media (max-width: $screen-sm) {

        &__title {
            text-align: center;
        }

        &__subtitle {
            text-align: center;
        }

        &__body {
            flex-direction: column;
        }

        &__form {
            margin: 0 $base*7 $base*7;
        }

        &__info {
            text-align: center;

            &-text {
                flex-direction: column;
                justify-content: center;

                svg {
                    margin-bottom: $base*2;
                }
            }

            &-link {
                margin: 0;
            }
        }
    }
}


.comment {

    &__title {
        margin-bottom: $base*4;
        font-size: $font-size-xxl;
        font-weight: 500;
    }

    &__form {
        margin-bottom: $base*2;
    
        &-name {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: $base*2;

            &_label {
                padding: $base $base*4;
                font-size: $font-size-xs;
                color: $color-dark;
                transform: scale(0);
                transition: transform 0.5s;

                &--active {
                    transform: scale(1);
                }
            }
            
    
            input {
                padding: $base*4;
                border: 1px solid $color-light;
                border-radius: $base*2;
                color: $color-dark;
                font-size: $font-size-xs;
                outline: none;
    
                &::placeholder {
                    color: $color-light;
                }
    
                &:focus {
                    outline: none;
                    border-bottom-color: $color-primary;
                }
            }
        }
        &-message {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: $base*2;
            

            &_label {
                font-size: $font-size-xs;
                color: $color-dark;
                transform: scale(0);
                transition: transform 0.5s;

                &--active {
                    transform: scale(1);
                    padding: $base $base*4;
                }
            }
            
            
            textarea {
                height: $base*25;
                padding: $base*4;
                border: 1px solid $color-light;
                border-radius: $base*2;
                color: $color-dark;
                font-size: $font-size-xs;
                resize: vertical;
                outline: none;
    
                &::placeholder {
                    color: $color-light;
                }
    
                &:focus {
                    outline: none;
                    border-bottom-color: $color-primary;
                }
            }
        }

        &-btn {
            text-align: end;
            
            button {
                display: inline-flex;
                justify-content: center;
                padding: $base/2 $base*2;
                background-color: $color-primary;
                color: $color-white;
                font-size: $font-size-sm;
                font-weight: 500;
                border-radius: $base*3;
                border: none;
                text-decoration: none;
                cursor: pointer;
                transition: .2s;
    
                &:hover {
                background-color: #bd5151;
                    
                }
            }
        } 
    }
    
    &__message {
        padding: $base*4 $base*4;
        box-shadow: $base/2 $base*2 $base*7 rgba(133, 123, 139, 0.12);
        border-radius: $base*2;
        
        &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: $base*2;
        }
        &-name {
            font-size: $font-size-sm;
            font-weight: 500;
        }
        &-time {
            font-size: $font-size-xs;
            font-weight: 500;
        }
        &-text {
            font-size: $font-size-xxs;
        }
    }

    @media (max-width: $screen-md) {

        &__title {
            text-align: center;
            font-size: $font-size-lg;
        }
    }
}

.template {
    display: none;
}

._error {
    box-shadow: 0 0 $base*4 red;
}