@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

@import url('normolize.css');
@import url('blog.css');
@import url('works.css');

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}

$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;
$color-light: #8695A4;
$color-white: #fff;
$color-black: #000;

$font-size-xxxl: rem(44px);
$font-size-xxl: rem(30px);
$font-size-xl: rem(26px);
$font-size-lg: rem(22px);
$font-size-md: rem(20px);
$font-size-sm: rem(18px);
$font-size-xs: rem(16px);
$font-size-xxs: rem(14px);


$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$base: rem(4px);

// html {
//     @media (max-width: $screen-md) {
//         font-size: 14px;
//     }
//     @media (max-width: $screen-sm) {
//         font-size: 12px;
//     }
// }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $color-dark;
}

.content {
    flex: 1 1 auto;
}

.container {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 $base*3;

}

.content {
    padding-top: $base*21;

    @media (max-width: $screen-sm) {
        padding-top: $base*8;
    }

    
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0;
}

h1 { 
    font-size: $font-size-xxxl; 
    line-height: $base*15;
}

h2 { 
    font-size: $font-size-xxl; 
    line-height: $base*11;
}

.text {
    font-size: $font-size-xs;
    line-height: $base*6;
}


// === header ===
.header {

    &__container {
        max-width: 1054px;
        margin: 0 auto;
        padding: 0 $base*3;
        height: $base*20;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        &-item {
            margin: 0 0 0 $base*8;  
        }

        &-link {
            color: $color-black;
            font-size: $font-size-md;
            font-weight: 500;
            text-decoration: none;
            transition: .2s;

            &--active {
                color: $color-primary;
            }

            &:hover {
                color: $color-primary;
            }
        }
    }

    .dropdown {
        display: none;
    
        &__icon {
            stroke: $color-dark;
        }
    }

    @media (max-width: $screen-sm) {

        &__container {
            height: $base*12;
        }

        &__nav {
            margin-top: $base*4;
            margin-right: $base*3;
        }

        .dropdown {
            position: relative;
            z-index: 3;
            display: initial;
            stroke: $color-dark;

            &__icon {
                &--active {
                    stroke: $color-white;
                }
            }
        }

        &__list {
            transform: scale(0);
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            background: rgba($color-black, 0.6);
            width: 100vw;
            height: 100vh;
            flex-direction: column;
            justify-content: center;

            &-item {
                padding: $base*7;
                margin: 0;
                border-bottom: 1px solid rgba($color-white, 0.6);

                &:last-child {
                    border: 0;
                }
            }

            &-link {
                padding: $base*4;
                color: $color-white;
                font-size: $font-size-xxl;
            }
            &--open {
                transform: scale(1);
                transition: transform 0.5s;
            }
        }
    }
}

// === / header ===

// === info ===
.info {
    padding: $base*11 0 $base*17;

    .container {
        display: flex;
    }

    &__content {
        padding: $base*4 $base*27 0 0; 
    }

    &__title {
        margin-bottom: $base*10;
    }

    &__text {
        margin-bottom: $base*8;
    }

    &__btn {

        display: inline-flex;
        padding: $base*3 $base*5;
        background-color: $color-primary;
        color: $color-white;
        font-size: $font-size-md;
        font-weight: 500;
        border-radius: $base;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            background-color: #bd5151;
        }
    }

    &__avatar {
        height: $base*60;
        max-width: $base*60;
        border-radius: 100%;
        box-shadow: -$base $base*3 $base*2 0px #EDF7FA;

    }

    @media (max-width: $screen-md) {
        
        padding: 0px 0 $base*15;

        .container {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }

        &__content {
            padding: $base*4 0 0 0; 
        }

        &__title {
            font-size: $font-size-xxl;
            line-height: $base*10;
        }

        &__avatar {
            margin-bottom: $base*8;
        }

        &__title {
            margin-bottom: $base*5;
        }

        &__text {
            margin-bottom: $base*6;
            padding: 0px $base*4;
        }
    }
}
// === / info ===

// === posts ===
.posts {
    padding: $base*6 0 $base*8;
    background-color: #EDF7FA;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: $base*5;
    }

    &__title {
        font-size: $font-size-lg;
    }

    &__view-all {
        color: $color-secondary;
        font-size: $font-size-xs;
        line-height: $base*6;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
    }

    &__item {
        background-color: #fff;
        flex: 0 1 50%;
        padding: $base*6;
        border-radius: $base;
        box-shadow: 0 $base $base*2 rgba(187, 225, 250, 0.25);

        &:first-child {
            margin: 0 $base*5 0 0; 
        }

        &-title {
            display: inline-block;
            margin-bottom: $base*5;
            color: $color-dark;
            font-size: $font-size-xl;
            font-weight: 700;
            line-height: $base*9;
            text-decoration: none;
            transition: .2s;

            &:hover {
                color: $color-primary;
            }
        }
        &-info {
            display: flex;
            align-items: center;
            margin-bottom: $base*4;
            font-size: $font-size-sm;
            font-weight: 500;
            line-height: $base*6;

            &-date {
                padding-right: $base*4;
                border-right: 1px solid $color-dark;
            }

            &-description {
                padding-left: $base*4;
            }
        }
    }

    @media (max-width: $screen-md) {
        padding: $base*5 0 $base*9;

        &__title {
            font-size: $font-size-sm;
        }

        &__item {

            &-info {
                font-size: $font-size-xs;
                line-height: $base*6;
            }
            
            &:first-child {
                // margin: 0 0 $base*4 0;
                padding: $base*5;
            }

            &-title {
                margin-bottom: $base*3;
                font-size: $font-size-lg;
                line-height: $base*7;
            }
        }
    }

    @media (max-width: $screen-sm) {
        
        &__content {
            flex-direction: column;
        }

        &__header {
            justify-content: center;
        }

        &__view-all {
            display: none;
        }

        &__item {

            &:first-child {
                margin: 0 0 $base*4 0;
            }
        }
    }
}
// === / posts ===

// === works ===
.works {
    padding: $base*7 0 $base*20;

    &__title {
        margin-bottom: $base*10;
        font-size: $font-size-lg;  
    }

    &__item {
        display: flex;
        margin-bottom: $base*8;
        padding-bottom: $base*8;
        border-bottom: 1px solid #E0E0E0;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__image {
        position: relative;
        display: block;
        margin-right: $base*5;
        flex-basis: $base*65;
        border-radius: $base; 

        &:hover > &-loop {
            width: $base*18;
            height: $base*18;
        }

        &:hover > &-loop svg {
            width: $base*6;
            height: $base*6;
        }

        &-loop {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(158, 156, 156, 0.3);
            border-radius: 100%;
            width: $base*16;
            height: $base*16;
            transition: .2s;

            svg {
                stroke: $color-dark;
                width: $base*5;
                height: $base*5;
                transition: .2s;
            }
        }

        img {
            width: $base*65;
            height: $base*45;
        }
    }

    &__content {
       
        &-title {
            display: block;
            margin-bottom: $base*4;
            color: $color-dark;
            font-weight: 700;
            font-size: $font-size-xxl;
            line-height: $base*11;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
                color: $color-primary;
            }
        }

        &-info {
            display: flex;
            align-items: center;
            margin-bottom: $base*4;
        }

        &-year {
            display: inline-flex;
            align-items: center;
            margin-right: $base*6;
            padding: 0px $base*3;
            height: $base*6;
            background-color: #142850;
            color: $color-white;
            font-weight: 900;
            font-size: $font-size-sm;
            border-radius: $base*4;

        }

        &-category {
            color: $color-light;
            font-size: $font-size-md;
        }

        &-link {
            font-size: $font-size-xxs;
            text-decoration: none;
            color: $color-light;

            &:hover {
                text-decoration: underline;
            }
        }

        &-text {
            margin-bottom: $base*5;
        }
    }

    @media (max-width: $screen-md)  {
        padding: $base*5 0 $base*20;
        
        &__item {
            padding-bottom: $base*4;
            margin-bottom: $base*4;
        }

        &__title {
            margin-bottom: $base*4;
            font-size: $font-size-sm;
        }

        &__content {

            &-title {
                font-size: $font-size-lg;
                line-height: $base*7;
            }

            &-year {
                font-size: $font-size-xs;
            }

            &-category {
                font-size: $font-size-xs;
            }
        }
    }

    @media (max-width: $screen-sm) {
        padding: $base*4 0 $base*37;

        &__title {
            text-align: center;
        }

        &__item {
            flex-direction: column;
            margin-bottom: 0;
            
            &:nth-of-type(1n+3) {
                display: none;
            }
        }

        &__image {
            margin: 0 0 $base*4;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
// === / works ===

// === footer ===
.footer {
    padding: $base*12 0;

    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $base*6;
    }

    &__link {
        margin-right: $base*8;      
        text-decoration: none;
        transition: 0.2s;

        &:last-child {
            margin-right: 0px;
        }

        svg {
            fill: #21243D;

            &:hover {
                fill: $color-primary;
            }
        }
    }

    &__copyright {
        text-align: center;
        font-size: $font-size-xxs;
    }
}
// === / footer ===

